
* {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
}

body, html, .container{ 
  font-size: 100%; 
  padding: 0; 
  margin: 0; 
  height: 100%;
  overflow:hidden;
}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

#nav-bar{
	width: 100%;
	height: 56px;
	color: #fff;
	background-color: #2196F3;
	padding: 0px 16px 0px 16px;
	font-size:20px; 
	box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
	position: fixed;
	
}
#nav-bar span{
	display: block;
	float: left;
	line-height: 56px;
}

#nav-bar .fa-arrow-left{
	display: none;
}

#nav_slider{
	width: 100%;
	height:100%;
	overflow-y:hidden; 
}
.page{
	margin-top: 33px;
	width: 100%;
	height:100%;
	float: left;
  overflow: hidden;
  display: inline-block;
  width: 0px;
  white-space: nowrap;
}
.page .holder{
  padding: 30px 16px;
  white-space: initial;
}
#history{
  width: 100%;
  overflow: scroll;
}
#history .holder{
	padding: 0px;
}
/*#details{
  width: 100%;
}*/




span#menu{
}
span#title{
	position: fixed;
  	left: 75px;
}
span#options .button{
	width: 50%;
	text-align: center;
  color: #fff;
}
span#options{
	width: 100px;
	position: absolute;
	right: 0px;
}

/*========Detail Screen =======*/
.fa-toggle-on{
  color: #27ae60;
}
#extendedMenu{
	width: 100%;
	height:150px;
	background-color:#2196F3;
	box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24); 
	position: relative;
	padding-top: 80px;
	color: #fff;
}
#detail-title{
	font-size: 30px;
  	text-align: center;
  	width: 100%;
  	display: block;
}
#detail-date{
	display: block;
	margin: 0 auto;
	text-align: center;

}
.detail-list{
	width: 100%;
	margin-bottom:20px;
}
.detail-list .icon{
	font-size: 24px;
	width: 72px;
	float: left;
	line-height: 46px;
	text-align: left;
	opacity: 0.54
}

.detail-list .data{
	font-size: 18px;
	text-decoration: none;
}
.detail-list .info-type{
	opacity: 0.54;
	font-size:16px;
}

.notify{
	float: right;
	margin-right: 10px;
	font-size: 25px !important;
	line-height: 55px !important;

}
.Uncleared,
.st_1{
	color: #c0392b;
}
.Complete,
.st_0{
	color: #27ae60;
}
/*=====LIST ITEM========*/

div.list-head{
	background-color: rgba(0,0,0,0.12);
	opacity: .54;
	color:#000;
	font-size: 16px;
	font-weight: 500;
	padding: 5px 10px;
}
#scrollPanel {
	padding: 0px;
	margin: 0px;
	overflow: scroll;
	height: calc(100% - 80px);
}
#scrollPanel li{
	list-style: none;
	padding-right: 16px;
	height: 72px;
	border-bottom: 1px solid #e8e8e8;
}
.status{
	font-size: 24px;
	width: 21%;
	float: left;
	line-height: 72px;
	text-align: center;
}
.desc{
	float: left;
	width: 79%;
}
.desc .row:first-child { 
    font-size: 16px;
    padding-top: 18px;
}
.desc .row:last-child { 
    font-size: 14px;
    padding-bottom: 18px;
    opacity: .54;
}
.right{
	float: right;
}

/*=======TRANSFER========*/




/* form starting stylings ------------------------------- */

.contactAutoCom{
	position: relative;	
	top: -318px;
	background-color: #e1e1e1;
	width: 100%;
}
.contactAutoCom ul{
	padding: 0px;
}
.contactAutoCom li{
	list-style: none;
	width: 100%;
	padding: 10px;
	border-bottom:solid 1px #999;
}
.contactAutoCom span:first-child{
  font-size: 20px;
  display: block;
  width: 100%;
}
.contactAutoCom span:last-child{
  font-size: 16px;
  opacity: 0.54;
   display: block;
  width: 100%;
}
.group 			  { 
  position:relative; 
  margin-bottom:35px; 
}

.currency{
	width: 25%;
	display: inline-block;
	margin-left: 10px;
}
.amount{
	width: 65%;
	display: inline-block;
	margin-right: 10px;
}
input,
textarea {
  font-size:16px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #e8e8e8;
  height: auto;
  width: 100%;
  font-weight: 300
}
input:focus, 
textarea:focus,
select:focus
{ 
	outline:none; 
}
.currency-select{
    background-color: #fff;
  width: 70px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  font-size: 16px;
  padding-left: 10px;
}


.title-input{
	font-size: 24px
}
/* LABEL ======================================= */
.m_label{
  color:#999; 
  font-size:15px;
  font-weight:400;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, 
input:valid ~ label,
textarea:focus ~ label, 
textarea:valid ~ label 		
{
  top:-12px;
  font-size:14px;
  color:#2196F3;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#2196F3; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
textarea:focus ~ .bar:before, 
textarea:focus ~ .bar:after,
input:focus ~ .bar:before, 
input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight,
textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}



/*=========Bottom NAv ================*/


#trBtn{
  background-color: #1565C0;
  color: #fff;
  width: 50px;
  border-radius: 50px;
  height: 50px;
  border: none;
  font-size: 16px;
  text-align: center;
  margin: 15px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 200;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
  display: none;
}


.float-nav {
  position: fixed;
  z-index: 1;
  bottom: 1.375em;
  right: 1.375em;
  overflow: hidden;
  width: 90%;
  height: 50px;
  padding: 1.575em;
  text-align: right;
  background: #1565C0;
  /*border: 5px solid #0cf;*/
  -webkit-transition: all 500ms cubic-bezier(.6, -0.3, .3, 1.3);
  transition: all 500ms cubic-bezier(.6, -0.3, .3, 1.3);
   box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.float-nav .toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2.375em;
  height: 1.875em;
  font-size: 20px;
  color: #fff;
  line-height: 1.375em;
/*  font-weight: 300;*/
  text-align: center;
/*  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: all 300ms;
  transition: all 300ms;*/
}


.float-nav.closed {
  width: 5px;
  height: 0;
  /*border: 5px solid #fff;*/
  border-radius: 50%;
}

.float-nav a {
  display: inline-block;
  color: #fff;
}





.float-nav .controls {
  position: absolute;
  top:0px;
  left: 0px;
  font-size: 20px;
  width: 60%;
  height: 100%;
  background-color: #e7e7e7;
  opacity: 1;
  list-style: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.float-nav.closed .controls { opacity: 0; }

.controls i {
    /* padding: 0.25em 0; */
  margin-bottom: 0;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  color: #555;
  width: 48%;
  text-align: center;
  height: 100%;
  padding-top: 8%;
}
.controls i span{
  font-size: 14px;
}
.float-nav.closed .controls i { margin-bottom: 1.375em; }






/*==========ANIMATION LOADER=========*/

.loader {
  position: fixed;
  width: 100px;
  height: 100px;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  bottom: 50px;
  zoom: 2;
}

.circular {
 -webkit-animation: rotate 2s linear infinite;
         animation: rotate 2s linear infinite;
 height: 100px;
 position: relative;
 width: 100px;
}


.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: 
   dash 1.5s ease-in-out infinite,
   color 6s ease-in-out infinite
  ;
          animation: 
   dash 1.5s ease-in-out infinite,
   color 6s ease-in-out infinite
  ;
  stroke-linecap: round;
}

@-webkit-keyframes rotate{
 100%{
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
 }
}

@keyframes rotate{
 100%{
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
 }
}
@-webkit-keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
 }
}
@keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
 }
}
@-webkit-keyframes color{
  100%, 0%{
    stroke: #d62d20;
  }
  40%{
    stroke: #0057e7;
  }
  66%{
    stroke: #008744;
  }
  80%, 90%{
    stroke: #ffa700;
  }
}
@keyframes color{
  100%, 0%{
    stroke: #d62d20;
  }
  40%{
    stroke: #0057e7;
  }
  66%{
    stroke: #008744;
  }
  80%, 90%{
    stroke: #ffa700;
  }
}




/*======RADIO BUTTON======*/


.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  /*position: relative;*/
  top: 13.33333px;
  width: 40px;
  height: 40px;

  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  /*position: relative;*/
  margin-right: 0.5rem;
  z-index: 10;
}


.option-input:checked { background: #2196F3 !important; }

.option-input:checked::before {
    width: 40px;
    height: 33px;
    /*position: absolute;*/
    left: 10px;
    display: inline-block;
/*    font-size: 25.66667px;
*/    line-height: 22px;
}
.label{
	  float: right;
  display: block;
  width: 80%;
  padding: 6px;
}

/*OVERLAY*/
.overlay:after {
    content: "";
    display: block;
    position: fixed; /* could also be absolute */ 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

/* just some content with arbitrary styles for explanation purposes */
.modal {
    width: 300px;
    height: 400px;
    position: fixed;
    padding: 20px;
    top: 50%; 
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;
    background-color: #fff;
    z-index: 11;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,.12),0 15px 10px 0 rgba(0,0,0,.12);
    display: none;
}
.modal table{
    white-space: normal;
    max-width: 100%;
    overflow: el
}
.modal td{
  padding: 10px 0;
}
.modal tr td:first-child{
  font-weight: 600;
  padding-right: 10px;
}
.modal .fa.fa-times{
    position: absolute;
    top: 10px;
    right: 10px
}



/*Buttons*/
.button {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      color: #646464;
      text-align: center;
    }
.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
.button.cancel{
  float: right;
}
.button.submit{
  background-color: #1565C0;
  color: #fff;
}

#loaderG{
  display: none;
}
.sendButton{
    color: #fff;
  width: 75px;
  border-radius: 75px;
  height: 75px;
  border: none;
  font-size: 24px;
  text-align: center;
  margin: 15px;
  position: fixed;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  z-index: 200;
  bottom: 148px;
}
.sendButton.loading{
  background-color: #1565C0 !important;
}
.sendButton.done{
  background-color: #27ae60 !important;
}
.sendButton i{
  display: none;
}
.sendButton.loading i:first-child{
  display: block
}
.sendButton.done i:last-child{
  display: block;
}
